.btn {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: var(--radius, 0.8rem);
  gap: 0.5rem;

  /* -------------------------------------------------------------------------- */
  /*                                    크기정의                                  */
  /* -------------------------------------------------------------------------- */
  &.xxs {
    --px: 1rem;
    --py: 0.8rem;
    --fs: 1.2rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  &.xs {
    --px: 1.2rem;
    --py: 0.9rem;
    --fs: 1.4rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  &.sm {
    --px: 2.4rem;
    --py: 1rem;
    --fs: 1.4rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  &.base {
    --px: 2rem;
    --py: 1.2rem;
    --fs: 1.6rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  &.md {
    --px: 1rem;
    --py: 2.2rem;
    --fs: 1.6rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }

  /* -------------------------------------------------------------------------- */
  /*                                    색상정의                                  */
  /* -------------------------------------------------------------------------- */
  &.primary {
    color: var(--white);
    background-color: var(--primary);
  }
  &.secondary {
    color: var(--gray900);
    background-color: var(--white);
    border: 1px solid var(--gray500);
  }
  &.gray {
    color: var(--white);
    background-color: var(--gray700);
  }
  &.gray-outline {
    color: var(--gray800);
    background-color: var(--white);
    border: 1px solid var(--gray300);
  }
  &.lightgray-outline {
    color: var(--gray800);
    background-color: var(--gray100);
    border: 1px solid var(--gray500);
  }
  &:disabled {
    opacity: 0.2;
  }

  /* -------------------------------------------------------------------------- */
  /*                                    아이콘정의                                */
  /* -------------------------------------------------------------------------- */

  &[class*='ico'] {
    /* [ ]ico가 붙은 모든 속성에 적용 */
    &::after {
      content: '';
      width: var(--width);
      aspect-ratio: 1; /* 종횡비 */
      background: var(--bg) no-repeat center / contain;
    }
  }
  /* 
  &.ico3 {
    --width: 1.6rem;
    --bg:url();
  } 
  */
  &.ico1 {
    --width: 1.6rem;
    --bg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2216%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22none%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3%202C2.44772%202%202%202.44772%202%203V10.1707C2.31278%2010.0602%202.64936%2010%203%2010H12V2H3ZM14%201C14%200.447715%2013.5523%200%2013%200H3C1.34315%200%200%201.34315%200%203V13C0%2014.6569%201.34315%2016%203%2016H13C13.5523%2016%2014%2015.5523%2014%2015V1ZM2%2013C2%2013.5523%202.44772%2014%203%2014H12V12H3C2.44772%2012%202%2012.4477%202%2013ZM4%205C4%204.44772%204.44772%204%205%204H9C9.55229%204%2010%204.44772%2010%205C10%205.55228%209.55229%206%209%206H5C4.44772%206%204%205.55228%204%205Z%22%20fill%3D%22%23FAFAFA%22%2F%3E%20%3C%2Fsvg%3E);
  }
  &.ico2 {
    --width: 1.6rem;
    --bg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2216%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22none%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3%202C2.44772%202%202%202.44772%202%203V10.1707C2.31278%2010.0602%202.64936%2010%203%2010H12V2H3ZM14%201C14%200.447715%2013.5523%200%2013%200H3C1.34315%200%200%201.34315%200%203V13C0%2014.6569%201.34315%2016%203%2016H13C13.5523%2016%2014%2015.5523%2014%2015V1ZM2%2013C2%2013.5523%202.44772%2014%203%2014H12V12H3C2.44772%2012%202%2012.4477%202%2013ZM4%205C4%204.44772%204.44772%204%205%204H9C9.55229%204%2010%204.44772%2010%205C10%205.55228%209.55229%206%209%206H5C4.44772%206%204%205.55228%204%205Z%22%20fill%3D%22%23212121%22%2F%3E%20%3C%2Fsvg%3E);
  }
  &.ico3 {
    --width: 1.6rem;
    --bg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M1.5%2014C1.5%2013.4477%201.94772%2013%202.5%2013H7.5C8.05228%2013%208.5%2013.4477%208.5%2014C8.5%2014.5523%208.05228%2015%207.5%2015H2.5C1.94772%2015%201.5%2014.5523%201.5%2014Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%3Cpath%20d%3D%22M1.5%202C1.5%201.44772%201.94772%201%202.5%201H14.5C15.0523%201%2015.5%201.44772%2015.5%202C15.5%202.55228%2015.0523%203%2014.5%203H2.5C1.94772%203%201.5%202.55228%201.5%202Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%3Cpath%20d%3D%22M1.5%208C1.5%207.44772%201.94772%207%202.5%207H14.5C15.0523%207%2015.5%207.44772%2015.5%208C15.5%208.55228%2015.0523%209%2014.5%209H2.5C1.94772%209%201.5%208.55228%201.5%208Z%22%20fill%3D%22%23212121%22%2F%3E%20%3C%2Fsvg%3E);
  }
  &.ico4 {
    --width: 1.6rem;
    --bg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2214%22%20viewBox%3D%220%200%2016%2014%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20d%3D%22M1%200C0.447715%200%200%200.447715%200%201C0%201.55228%200.447716%202%201%202H13C13.5523%202%2014%201.55228%2014%201C14%200.447715%2013.5523%200%2013%200H1Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%3Cpath%20d%3D%22M1%206C0.447715%206%200%206.44772%200%207C0%207.55228%200.447715%208%201%208H6C6.55228%208%207%207.55228%207%207C7%206.44772%206.55228%206%206%206H1Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%3Cpath%20d%3D%22M12%206C12.5523%206%2013%206.44772%2013%207V13C13%2013.5523%2012.5523%2014%2012%2014C11.4477%2014%2011%2013.5523%2011%2013V7C11%206.44772%2011.4477%206%2012%206Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%3Cpath%20d%3D%22M1%2012C0.447715%2012%200%2012.4477%200%2013C0%2013.5523%200.447715%2014%201%2014H4C4.55228%2014%205%2013.5523%205%2013C5%2012.4477%204.55228%2012%204%2012H1Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.29289%209.29289C8.68342%208.90237%209.31658%208.90237%209.70711%209.29289L12%2011.5858L14.2929%209.29289C14.6834%208.90237%2015.3166%208.90237%2015.7071%209.29289C16.0976%209.68342%2016.0976%2010.3166%2015.7071%2010.7071L12.7071%2013.7071C12.3166%2014.0976%2011.6834%2014.0976%2011.2929%2013.7071L8.29289%2010.7071C7.90237%2010.3166%207.90237%209.68342%208.29289%209.29289Z%22%20fill%3D%22%23212121%22%2F%3E%20%3C%2Fsvg%3E);
  }
  &.ico5 {
    --width: 1.6rem;
    --bg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%20%20%20%3Cg%20clip-path%3D%22url%23clip0_9871_271%22%3E%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M11.2929%200.292893C11.6834%20-0.0976311%2012.3166%20-0.0976311%2012.7071%200.292893L15.7071%203.29289C16.0977%203.68342%2016.0977%204.31658%2015.7071%204.70711L5.70713%2014.7071C5.57897%2014.8353%205.41839%2014.9262%205.24256%2014.9701L1.24256%2015.9701C0.901782%2016.0553%200.541295%2015.9555%200.292914%2015.7071C0.0445341%2015.4587%20-0.055315%2015.0982%200.0298787%2014.7575L1.02988%2010.7575C1.07384%2010.5816%201.16476%2010.4211%201.29291%2010.2929L11.2929%200.292893ZM2.90299%2011.5112L2.37439%2013.6256L4.48877%2013.097L10.5858%207.00001L9.00001%205.41422L2.90299%2011.5112ZM13.5858%204L12%205.5858L10.4142%204.00001L12%202.41421L13.5858%204ZM9%2014C8.44771%2014%208%2014.4477%208%2015C8%2015.5523%208.44771%2016%209%2016H15C15.5523%2016%2016%2015.5523%2016%2015C16%2014.4477%2015.5523%2014%2015%2014H9Z%22%20fill%3D%22white%22%2F%3E%20%20%20%3C%2Fg%3E%20%20%20%3Cdefs%3E%20%20%20%20%20%3CclipPath%20id%3D%22clip0_9871_271%22%3E%20%20%20%20%20%20%20%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%2F%3E%20%20%20%20%20%3C%2FclipPath%3E%20%20%20%3C%2Fdefs%3E%20%3C%2Fsvg%3E);
  }
  &.ico6 {
    --width: 1.2747rem;
    --bg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2212%22%20viewBox%3D%220%200%2013%2012%22%20fill%3D%22none%22%3E%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.57189%205.32696C8.57189%207.14174%207.10072%208.61291%205.28595%208.61291C3.47117%208.61291%202%207.14174%202%205.32696C2%203.51218%203.47117%202.04102%205.28595%202.04102C7.10072%202.04102%208.57189%203.51218%208.57189%205.32696ZM8.75223%209.31782C7.82423%2010.1245%206.61212%2010.6129%205.28595%2010.6129C2.3666%2010.6129%200%208.24631%200%205.32696C0%202.40761%202.3666%200.0410156%205.28595%200.0410156C8.20529%200.0410156%2010.5719%202.40761%2010.5719%205.32696C10.5719%206.25647%2010.332%207.12995%209.91069%207.88884C10.0693%207.93385%2010.219%208.0188%2010.3439%208.14367L12.4536%2010.2534C12.8441%2010.6439%2012.8441%2011.2771%2012.4536%2011.6676C12.0631%2012.0582%2011.4299%2012.0582%2011.0394%2011.6676L8.92966%209.55788C8.85699%209.48522%208.79785%209.40415%208.75223%209.31782Z%22%20fill%3D%22%23FAFAFA%22%2F%3E%20%3C%2Fsvg%3E);
  }
  &.ico7 {
    --width: 1.6rem;
    --bg: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%20%20%20%3Cg%20clip-path%3D%22%22%3E%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M3%203C2.44772%203%202%203.44772%202%204V13C2%2013.5523%202.44772%2014%203%2014H11C11.5523%2014%2012%2013.5523%2012%2013V8.5C12%207.94772%2012.4477%207.5%2013%207.5C13.5523%207.5%2014%207.94772%2014%208.5V13C14%2014.6569%2012.6569%2016%2011%2016H3C1.34315%2016%200%2014.6569%200%2013V4C0%202.34315%201.34315%201%203%201H6C6.55228%201%207%201.44772%207%202C7%202.55228%206.55228%203%206%203H3Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.2929%200.292893C12.6834%20-0.0976311%2013.3166%20-0.0976311%2013.7071%200.292893L15.7071%202.29289C16.0976%202.68342%2016.0976%203.31658%2015.7071%203.70711L13.7071%205.70711C13.3166%206.09763%2012.6834%206.09763%2012.2929%205.70711C11.9024%205.31658%2011.9024%204.68342%2012.2929%204.29289L12.6239%203.96191C12.5374%203.96333%2012.4495%203.9654%2012.3599%203.96825C11.4269%203.99786%2010.5283%204.11569%209.74639%204.42848C8.98532%204.73291%208.32759%205.2238%207.8453%206.03998C7.35342%206.8724%207%208.11864%207%2010C7%2010.5523%206.55228%2011%206%2011C5.44772%2011%205%2010.5523%205%2010C5%207.88136%205.39658%206.2526%206.12345%205.02252C6.85991%203.7762%207.88968%203.01709%209.00361%202.57152C10.0967%202.13431%2011.2606%202.00214%2012.2964%201.96925C12.3799%201.9666%2012.4642%201.96463%2012.549%201.96324L12.2929%201.70711C11.9024%201.31658%2011.9024%200.683417%2012.2929%200.292893Z%22%20fill%3D%22%23212121%22%2F%3E%20%20%20%3C%2Fg%3E%20%20%20%3Cdefs%3E%20%20%20%20%20%3CclipPath%20id%3D%22clip0_10073_1626%22%3E%20%20%20%20%20%20%20%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22white%22%2F%3E%20%20%20%20%20%3C%2FclipPath%3E%20%20%20%3C%2Fdefs%3E%20%3C%2Fsvg%3E);
  }
}

/* -------------------------------------------------------------------------- */
/*                                    아이콘전용                                */
/* -------------------------------------------------------------------------- */
/* 유효성 검사 */
.icon-button {
  --width: 4rem;
  --rounded: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  aspect-ratio: 1;
  border-radius: var(--rounded, 0);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:has(img:not([alt])),
  &:has(img[alt='']) {
    &::after {
      content: '대체텍스트를 넣어주세요';
      position: absolute;
      left: 0;
      top: -1.5rem;
      white-space: nowrap;
      font-size: 1.2rem;
      color: red;
      background-color: var(--white);
    }
  }
}

