.tel {
  display: flex;
  gap: 0.8rem;
  > * {
    flex: 1;
  }
}
.address {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.4rem 1rem;
  input[type='text'] {
    grid-column: 1/ -1;
  }
}

/* 
input 띄어쓰기 하면 자손선택임 [type='text']
*/
