table {
  &.mx16 {
    width: calc(100% - 3.2rem);
  }
}
.table-type1 {
  th,
  td {
    border: 1px solid var(--gray400);
  }
}
.table-type2 {
  border-top: 1px solid var(--gray200);
  th,
  td {
    padding-block: 1.6rem;
    border-bottom: 1px solid var(--gray200);
  }
  th {
    color: var(--gray900);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.05rem;
    font-size: 1.4rem;
    text-align: left;
  }
  td {
    color: var(--gray800);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.05rem;
    font-size: 1.4rem;
  }
}
